/*
 * global
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.example {
  width: min-content;
  margin-bottom: 20px;
}

.example__text {
  width: 100%;
  max-width: 480px;
  min-width: 300px;
  resize: none;
}

.example__btn {
  display: block;
  margin-left: auto;
}

/*
 * temporary styles for the form
 */
#root {
  padding: 16px;
  background-color: #edeef0;
}
